@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  border-radius: 16px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 16px;
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-primary {
    background: #F2F5F9;
  }

  .text-semilight {
    color: #40597A;
  }

  .text-graylight {
    color: #8B96A5;
  }

  .text-maingray {
    color: #2F394A;
  }

  .text-lightbluish {
    color: #6587AB;
  }

  .text-bluish {
    color: #0D6EFD;
  }

  .border-graylight {
    border-color: #C1D0E0;
  }

  .border-blue {
    border-color: #127FFF;
  }

  .bg-blue-header {
    background: #127FFF;
  }
}